@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/augmented-ui/augmented-ui.min.css";

* {
  --aug-inlay-bg: rgba(0, 0, 0, 0.15) !important;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

/* TABS ALPINE */

.tabs {
  border: 1px white;
  border-style: none dashed none none;
}


.tabs.active {
  position: relative;
  z-index: 1;
}

.bg {
  background: repeating-linear-gradient(
      to top,
      rgba(255, 255, 255, 0.03) 0px 2px,
      transparent 2px 4px
    ),
    linear-gradient(to bottom, #200933 75%, #3d0b43);
}
.bg::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  background-image: linear-gradient(
      90deg,
      rgba(252, 25, 154, 0.1) 1px,
      rgba(0, 0, 0, 0) 1px
    ),
    linear-gradient(0deg, rgba(252, 25, 154, 0.1) 1px, rgba(0, 0, 0, 0) 1px);
  background-position: bottom;
  background-repeat: repeat;
  background-size: 20px 20px;
  left: -25px;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  transform: perspective(100px) rotateX(60deg);
  z-index: 0;
}

.typewriter h1 {
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect. thanks geoffgraham!  */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.reticle {
  background-color: rgba(255, 255, 255, 0.2);
  --aug-all-width: 250px;
  color: white;
  --reticle-color: currentColor;
  --reticle-size: calc(var(--aug-all-width) * 0.25);
  transform-origin: 50% 56%;
  transform: rotateZ(0deg);
  transition: transform 0.2s ease-out, color 0.75s ease-out;
}

/* glowing border */

.reticle:hover {
  transform: scale(0.9);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.reticle:active {
  transform: rotateZ(720deg);
}

@keyframes blink {
  0% {
    background: violet;
  }
  14.3% {
    background: indigo;
  }
  28.6% {
    background: blue;
  }
  42.9% {
    background: violet;
  }
  57.2% {
    background: indigo;
  }
  71.5% {
    background: blue;
  }
  85.8% {
    background: red;
  }
  100% {
    background: violet;
  }
}

@-webkit-keyframes blink {
  0% {
    background: violet;
  }
  14.3% {
    background: indigo;
  }
  28.6% {
    background: blue;
  }
  42.9% {
    background: violet;
  }
  57.2% {
    background: indigo;
  }
  71.5% {
    background: blue;
  }
  85.8% {
    background: red;
  }
  100% {
    background: violet;
  }
}

.bg-color-animation {
  height: 100vh;
  width: 100%;
  animation: blink 5s linear infinite;
  -webkit-animation: blink 15s linear infinite;
}





.marquee {
    /* box-sizing: border-box; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .marquee2 {
    display: block;
    width: 220%;
    position: absolute;
    -webkit-animation: marquee 10s linear infinite;
            animation: marquee 10s linear infinite;
  }
  
  /* faster mobile animation */
  
  @media only screen and (max-width: 600px) {
    .marquee2 {
      -webkit-animation: marquee 10s linear infinite;
              animation: marquee 10s linear infinite;
    }
  }
  
  .marquee span {
    float: left;
    width: 50%;
    overflow: hidden;
  }
  
  @-webkit-keyframes marquee {
    0% {
      left: 0;
    }
  
    100% {
      left: -100%;
    }
  }
  
  @keyframes marquee {
    0% {
      left: 0;
    }
  
    100% {
      left: -100%;
    }
  }
  